.comment{data: {card_id: params[:card_id]}}
  .ct 
    %ul.comment_box
      %li
        .comment_box_leftIcon
        .comment_box_rightText
          %p.comment_box_rightText_name
            ネームネームネーム
          %p.comment_box_rightText_text
            てkシウt
    .comment_input.hidden
      = text_area_tag :comment_content, '', class: 'commentValue',placeholder: 'コメントを入力'
      .comment_input_btn
        = image_tag 'Vector (1).png'
          
= javascript_pack_tag 'comment'