.ct
  .card
    .card_header
      .card_header_img
        img
      .card_header_text
        %p name
        %p 3 hours ago
    .card_body
    .card_footer
      .card_footer_icons
      %p.card_footer_text 
        Jasmine and 12,000 other liked your post
      %p.card_footer_text 
        Jmax_21  Summer holiday :3
      
