
html{
  font-size: 62.5%;  
}

body{
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  
}

*{
  box-sizing: border-box;
}

li{
  list-style:none;
}



img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  &.object-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



.ct{
  margin: 0 auto;
  width: 375px;
  padding: 0 15px 0 17px;
  max-width: 100%;
  
}




label {
  font-family: Poppins;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 4px;
}

.field{
  &:not(:last-of-type){
    margin-bottom: 20px;
  }
}

input {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #9E9E9E;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;

  &:focus{
    outline: none;
  }
}


header{
  padding-top: 46px;
}
.headerCt{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-back{
  position: absolute;
  top: 50%;
  left: 0 ;
  transform: translate(0, -50%);
}

.userName{
  margin: 0 auto;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

.newCardBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .cance{
    color: #2F80ED;
  }
  .post{
    color: #BDBDBD;
  }
}



.dropdown{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  &:hover{
    .dropdown_content{
      display: block;
    }
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_content{
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -100%);
    width: 200px;
    text-align: right;
  }
}

