

.usersList{
  padding: 80px 0 ;
  &_avatar{
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  & li {
    display: flex;
    align-items: flex-start;
    padding: 30px 0;
    &:not(:last-of-type){
      border-bottom: 1px solid #9E9E9E;
    }

    position: relative;
    .profileBox{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      &_follow-btnBox{
        
      }
      &_follow-btn,
      &_unfollow-btn{
        font-size: 1rem;
        width: 50px;
      }
    }
  }

  
}
